In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.tsv", sep='\t')
df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0053137,tt0050419,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0071877,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0049189,tt0056404,tt0057345,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0077975,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0050976,tt0050986,tt0083922"
...,...,...,...,...,...,...
11260574,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt2455546"
11260575,nm9993716,Essias Loberg,\N,\N,NaN,\N
11260576,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11260577,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11260578,nm9993719,Andre Hill,\N,\N,NaN,\N

In [3]:
title = pd.read_csv("title.tsv", sep='\t')
title

C:\Users\andre\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
29301657,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
29301658,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
29301659,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
29301660,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
29301661,tt9916856,2,The Wind,\N,\N,original,\N,1

In [10]:
# df.loc[df['first_name']=='Mihir']

# df['Comedy_Score'].where(df['Rating_Score'] < 50))

title.loc[title['titleId'] == 'tt0114709']

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
895127,tt0114709,10,Η ιστορία των παιχνιδιών,GR,\N,imdbDisplay,\N,0
895128,tt0114709,11,Toy story - Příběh hraček,CZ,\N,imdbDisplay,\N,0
895129,tt0114709,12,Toy Story,ID,\N,imdbDisplay,\N,0
895130,tt0114709,13,Toy Story,NO,\N,imdbDisplay,\N,0
895131,tt0114709,14,Toy Story: Povestea jucăriilor 3D,RO,\N,\N,3-D version,0
...,...,...,...,...,...,...,...,...
895188,tt0114709,66,Toy Story,MX,\N,imdbDisplay,\N,0
895189,tt0114709,6,Dastan-e asbab bazi,IR,fa,imdbDisplay,\N,0
895190,tt0114709,7,Histoire de jouets,CA,fr,\N,\N,0
895191,tt0114709,8,Leikfangasaga,IS,\N,\N,dubbed version,0
895192,tt0114709,9,Toy Story,IN,te,imdbDisplay,\N,0