In [36]:
import pandas as pd

In [37]:
movies = pd.read_csv('movies.csv')

movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [38]:
ratings = pd.read_csv('ratings.csv')
ratings = ratings.drop('timestamp', axis=1)
ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [39]:
links = pd.read_csv('links.csv')

links

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [40]:
tags = pd.read_csv('tags.csv')
tags = tags.drop('timestamp', axis=1)

tags

      userId  movieId               tag
0          2    60756             funny
1          2    60756   Highly quotable
2          2    60756      will ferrell
3          2    89774      Boxing story
4          2    89774               MMA
...      ...      ...               ...
3678     606     7382         for katie
3679     606     7936           austere
3680     610     3265            gun fu
3681     610     3265  heroic bloodshed
3682     610   168248  Heroic Bloodshed

[3683 rows x 3 columns]

In [41]:
genome_tags =pd.read_csv('genome-tags.csv')
genome_tags

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [49]:
genome_scores = pd.read_csv('genome-scores.csv')

genome_scores


#genome_scores.loc[genome_scores['movieId']==1][:10]

#genome_scores

          movieId  tagId  relevance
0               1      1    0.02900
1               1      2    0.02375
2               1      3    0.05425
3               1      4    0.06875
4               1      5    0.16000
...           ...    ...        ...
14862523   187595   1124    0.10700
14862524   187595   1125    0.05850
14862525   187595   1126    0.03800
14862526   187595   1127    0.10225
14862527   187595   1128    0.02925

[14862528 rows x 3 columns]

In [55]:
cut = []

for i in range(187596):
    process = genome_scores.loc[genome_scores['movieId'] == i][:10]
    cut.append(process)
    
new_genome_scores = pd.concat(cut)

KeyboardInterrupt:

In [24]:
df = pd.merge(movies, ratings, on = 'movieId', how = 'inner')

df

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5
...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5
100833,193585,Flint (2017),Drama,184,3.5
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0

In [9]:
#df.dtypes

In [26]:
df2 = pd.merge(df, tags, on = 'movieId', how = 'inner')
df2

,movieId,title,genres,userId_x,rating,userId_y,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,336,pixar
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,474,pixar
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,567,fun
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,336,pixar
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,474,pixar
...,...,...,...,...,...,...,...
233208,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,586,5.0,62,star wars
233209,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,184,anime
233210,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,184,comedy
233211,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,184,gintama
233212,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,184,remaster

In [27]:
df3 = pd.merge(df2, genome_scores, on = 'movieId', how = 'inner')
df3

MemoryError: Unable to allocate 113. MiB for an array with shape (14862528, 1) and data type float64

In [14]:
df2

,movieId,title,genres,userId_x,rating,userId_y,tag
0,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,268,ohsoso
1,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,1413,a little boring
2,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,1413,but still worth watching
3,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,2230,beautifully filmed
4,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,2230,comedy
...,...,...,...,...,...,...,...
64641,33493,Star Wars: Episode III - Revenge of the Sith (...,Action|Adventure|Sci-Fi,48385,2.0,282405,Hayden Christensen
64642,33493,Star Wars: Episode III - Revenge of the Sith (...,Action|Adventure|Sci-Fi,48385,2.0,282405,Natalie Portman
64643,33493,Star Wars: Episode III - Revenge of the Sith (...,Action|Adventure|Sci-Fi,48385,2.0,282405,sci-fi
64644,33493,Star Wars: Episode III - Revenge of the Sith (...,Action|Adventure|Sci-Fi,48385,2.0,282405,space
64645,33493,Star Wars: Episode III - Revenge of the Sith (...,Action|Adventure|Sci-Fi,48385,2.0,282405,Star Wars

In [16]:
df2.loc[df2['movieId'] == 4973]

,movieId,title,genres,userId_x,rating,userId_y,tag
0,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,268,ohsoso
1,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,1413,a little boring
2,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,1413,but still worth watching
3,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,2230,beautifully filmed
4,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,2230,comedy
...,...,...,...,...,...,...,...
2268,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,282342,Montmartre
2269,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,282342,music
2270,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,282342,Paris
2271,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,282342,quirky
2272,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,20043,5.0,282342,romance

In [ ]:
df4 = pd.merge(df3, genome_tags, on = 'tagId', how = 'inner')
df4