In [108]:
import pandas as pd

In [109]:
movies = pd.read_csv('movies.csv')

movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [110]:
ratings = pd.read_csv('ratings.csv')
ratings = ratings.drop('timestamp', axis=1)
ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [5]:
links = pd.read_csv('links.csv')

links

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [129]:
tags = pd.read_csv('tags.csv')
tags = tags.drop('timestamp', axis=1)

tags.loc[tags['movieId'] == 1]

      userId  movieId    tag
629      336        1  pixar
981      474        1  pixar
2886     567        1    fun

In [7]:
genome_tags =pd.read_csv('genome-tags.csv')

genome_tags.rename(columns = {'tag' : 'genome'}, inplace = True)

genome_tags

      tagId        genome
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [158]:
genome_scores = pd.read_csv('genome-scores.csv')

genome_scores.groupby(['movieId', 'tagId']).apply(lambda x: x['relevance']).apply(pd.Series)


#genome_scores.loc[genome_scores['movieId']==1][:10]

#genome_scores

KeyboardInterrupt:

In [9]:
new_genome_scores = genome_scores.groupby('movieId').sample(10)

In [173]:
df = pd.merge(movies, ratings, on = 'movieId', how = 'outer')
df = df.groupby(['movieId', 'title', 'genres']).mean().reset_index()


df.loc[df['movieId'] == 61354]

Empty DataFrame
Columns: [movieId, title, genres, userId, rating]
Index: []

In [137]:
df.drop('userId', axis = 'columns', inplace = True)

In [140]:
df2 = pd.merge(df, tags, on = 'movieId', how = 'outer')

df2.groupby(['movieId', 'title', 'genres', 'rating']).sample(10, replace = True)

df2

,movieId,title,genres,rating,userId,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,336.0,pixar
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,474.0,pixar
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,567.0,fun
3,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818,62.0,fantasy
4,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818,62.0,magic board game
...,...,...,...,...,...,...
11848,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,4.000000,NaN,NaN
11849,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,3.500000,NaN,NaN
11850,193585,Flint (2017),Drama,3.500000,NaN,NaN
11851,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,3.500000,NaN,NaN
11852,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,4.000000,NaN,NaN

In [149]:
df3 = df2.groupby(['movieId', 'title', 'genres', 'rating']).apply(lambda x: x['tag'].unique()).apply(pd.Series)

column_tag = []

for i in range(173):
    column_tag.append('tag' + str(i))
    
    

##we loose 20 movies due to sample

In [150]:
df3.columns = column_tag

In [154]:
df3.reset_index(inplace = True)

In [163]:
df3.head()

,movieId,title,genres,rating,tag0,tag1,tag2,tag3,tag4,tag5,...,tag163,tag164,tag165,tag166,tag167,tag168,tag169,tag170,tag171,tag172
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,pixar,fun,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818,fantasy,magic board game,Robin Williams,game,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615,moldy,old,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,3.071429,pregnancy,remake,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [255]:
base = df3[['movieId', 'title', 'genres', 'rating']]

tag_flatten = df3[column_tag].fillna('No')

tag_flatten

,tag0,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,tag9,...,tag163,tag164,tag165,tag166,tag167,tag168,tag169,tag170,tag171,tag172
0,pixar,fun,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
1,fantasy,magic board game,Robin Williams,game,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
2,moldy,old,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
3,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
4,pregnancy,remake,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
9720,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
9721,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
9722,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
9723,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No

In [243]:
df4 = pd.merge(genome_tags, new_genome_scores, on = 'tagId', how = 'outer')

df4

        tagId   genome  movieId  relevance
0           1      007       24    0.02775
1           1      007       97    0.02025
2           1      007      121    0.02300
3           1      007      138    0.01150
4           1      007      236    0.03350
...       ...      ...      ...        ...
131755   1128  zombies   133712    0.02000
131756   1128  zombies   139052    0.03725
131757   1128  zombies   142503    0.02700
131758   1128  zombies   166486    0.01800
131759   1128  zombies   177497    0.04575

[131760 rows x 4 columns]

In [245]:
df5 = pd.merge(base, df4, on = 'movieId', how = 'outer')

col = ['movieId', 'title', 'genres', 'rating']

#df5.drop('tagId', axis = 'columns', inplace = True)

#df5.groupby(col).sample(10, replace = True)

df_pivot = pd.pivot_table(df5, values = ['relevance'], index = col, columns = ['genome'])

#df_pivot.reset_index().columns

#levels = df_pivot.columns.levels

#labels = df_pivot.columns.labels

#df_pivot.columns = levels[1][labels[1]]

#df_pivot

## fill nan with 0

In [246]:
df_pivot.columns = df_pivot.columns.levels[1]

In [247]:
df_pivot2 = df_pivot.reset_index()

In [252]:
df_pivot3 = df_pivot2.fillna(0)

In [253]:
df_pivot3[['genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7', 'genre_8', 'genre_9', 'genre_10']] = df_pivot3['genres'].str.split('|', expand=True)

df_pivot3.drop('genres', axis='columns', inplace=True)

df_pivot3

genome,movieId,title,rating,007,007 (series),18th century,1920s,1930s,1950s,1960s,...,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9,genre_10
0,1,Toy Story (1995),3.920930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,2,Jumanji (1995),3.431818,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,3,Grumpier Old Men (1995),3.259615,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Comedy,Romance,None,None,None,None,None,None,None,None
3,4,Waiting to Exhale (1995),2.357143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,5,Father of the Bride Part II (1995),3.071429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Comedy,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8723,185435,"Game Over, Man! (2018)",3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Action,Comedy,None,None,None,None,None,None,None,None
8724,185585,Pacific Rim: Uprising (2018),2.750000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Action,Fantasy,Sci-Fi,None,None,None,None,None,None,None
8725,186587,Rampage (2018),3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Action,Adventure,Sci-Fi,None,None,None,None,None,None,None
8726,187593,Deadpool 2 (2018),3.875000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Action,Comedy,Sci-Fi,None,None,None,None,None,None,None
8727,187595,Solo: A Star Wars Story (2018),3.900000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Action,Adventure,Children,Sci-Fi,None,None,None,None,None,None

In [256]:
final_df = pd.merge(df_pivot3, tag_flatten, on = 'movieId', how = 'outer')

KeyError: 'movieId'